@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
 margin: 0;
 padding: 0;

}
body{
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.cabecalho{
    text-align: center;
    background-color: rgba(72, 128, 20, 0.603);
    padding: 30px;
}

main{
    background-color: black;
    color: red;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
img{
    width: 80px;
    height: 80px;
}
.texto-post {
    margin-left: 40px;
    }
    button{
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: gray
  color: white;


}